.item-post {clear: both; margin-bottom: 25px}
.item-post img {float: left; width: 50px; height: 50px; border-radius: 50%}
.item-post .text {padding: 16px 65px; line-height: 20px}
.item-post .like {float: right}