.main-content {max-width: 1205px}
.main-content-lane {position: relative}
.sidebar-lane-right {position: absolute!important; right: 0; top: 0; width: 180px}
.sidebar-lane-left {position: absolute!important; left: 0; top: 0; width: 280px}
.central-lane * {font-size: 14px}
.central-lane {width: 100%; max-width: calc(100% - 493px); margin-left: 297px;}
.central-lane > .item, .sidebar-lane-left .theiaStickySidebar > .item, .sidebar-lane-left > .item {box-shadow: 0 0 4px rgba(0, 0, 0, 0.15); margin-bottom: 20px; background: white; position: relative}
.sidebar-lane-left .theiaStickySidebar > .item:last-child, .sidebar-lane-left > .item:last-child  {margin: 0}
.padding-20 {padding: 8px 20px}

/* Форма добавления поста */
.main-block-form .img-container, .main-block-form input[type='text'], .personal-photo {display: inline-block; vertical-align: middle}
.main-block-form .img-container {width: 45px; height: 45px; border: 3px solid #F3F4EE; border-radius: 50%}
.main-block-form input[type='text'], .main-block-form textarea {width: calc(100% - 84px)!important; margin: 0; max-width: inherit; border: none!important; outline: none; color: #9B9B9B}
.personal-photo, .btn-submit {width: 30px}
.personal-photo input {position: relative; right: 0; background: white url("../images/photo.png") center no-repeat; box-shadow: none}
.hidden-block-form {display: none; padding: 0 0 0 50px}
.hidden-block-form textarea {border: none!important; resize: none; max-width: 100%; outline: none; min-height: 130px; margin: 0}
.bottom-block-form {border-top: 1px solid #F6F6F6; padding: 15px 0; text-align: right}
.bottom-block-form .btn-green {padding: 4px 30px; margin: 0 0 0 5px}
.bottom-block-form .btn-green[disabled="disabled"] {opacity: 0.5; cursor: auto}
.bottom-block-form .btn-green[disabled="disabled"]:hover {box-shadow: none}
.form-show-hidden.active .main-block-form input {color: black}

.emulator-select2 {max-width: 127px; margin: 0; text-align: left}
.emulator-select2 .emulator-select-title {background: linear-gradient(0, #F3F4EE 0%, rgba(243, 244, 238, 0.38) 100%)!important; border: none!important; font-size: 14px; line-height: 15px; height: 30px; padding: 7px 10px!important; color: #88AC2E; font-family: 'OpenSans-Italic';}
.emulator-select2 .emulator-select-title:before {display: none}
.emulator-select2 .emulator-select-title:after {background: url("../images/arrow1.png") no-repeat; right: 10px; top: 13px; width: 10px; height: 6px}
.emulator-select2 .emulator-select-list {top: 30px; left: inherit; right: 0; width: 200px; box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25); border: none}
.emulator-select2 .emulator-select-list label {border: none!important; font-size: 14px; padding: 10px 15px!important}
.emulator-select2 .emulator-select-list label:hover {background: white url("../images/check3.png") 93% center no-repeat!important;}

#outputMulti {position: relative; display: inline-block}
#outputMulti span { height: 50px; display: inline-block; vertical-align: top; margin: 0 15px 15px 0}
#outputMulti span img {max-height: 100%; width: auto}

.show-hidden-block.active {max-height: inherit!important; padding-bottom: 30px}
.show-hidden-block .show-all {display: none}
.show-all {position: absolute; bottom: 0; left: 0; width: 100%; height: 32px;}
.show-all span {position: absolute; bottom: 0; left: 67px; cursor: pointer; color: #57731E; background: linear-gradient(180deg, #F3F4EE 0%, rgba(243, 244, 238, 0.38) 100%); border-radius: 20px 20px 0 0; padding: 6px 12px}

/* Пост */

.post-standard-text {position: relative; padding-top: 18px}
.post-standard-text > .img-container img, .main-block-form > .img-container img, .private-office > .img-container img, .photo-in-diagram img {width: 100%; height: auto}
.post-standard-text .text-main, .post-standard-text .img-container, .post-bottom-line .date, .post-bottom-line .answer {display: inline-block; vertical-align: top}
.post-standard-text .img-container {width: 60px; height: 60px; border: 3px solid #BFD73B; border-radius: 50%}
.post-standard-text .text-main {width: calc(100% - 80px); margin-left: 15px; word-wrap: break-word}
.post-standard-text .name, .post-standard-text .title{color: #57731E; font-family: 'Roboto-Regular'; margin-bottom: 13px}
.post-standard-text .title {color: #4A4A4C}
.post-standard-text .text {margin-bottom: 13px; line-height: 19px;}
.post-standard-text .show-hidden-block {max-height: 180px; overflow: hidden}
.post-standard-text .show-hidden-block.active {max-height: inherit!important;}

.post-photo-one {overflow: hidden}
.post-photo-one img {width: auto; max-height: 382px; display: block; margin: 0 auto}
.post-photo-two {text-align: center}
.post-photo-two .img-container {width: auto; max-width: 49%; height: 382px; display: inline-block; vertical-align: top}
.post-photo-slider {margin-bottom: 0}
.post-photo-slider .img-container {height: 382px}
.post-photo-slider .slick-list {margin: 0}
.post-photo-slider .item {box-shadow: none; margin: 0 5px 0 0; width: auto!important;}
.post-photo-slider .slick-prev, .post-photo-slider .slick-next{z-index: 9; border-radius: 50%; background: white url("../images/backwards.png") 47% no-repeat; box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)}
.post-photo-slider .slick-prev {left: -14px}
.post-photo-slider .slick-next {right: -14px}

.post-bottom-line {padding-left: 100px; position: relative; border-top: 1px solid #F3F3F3}
.post-bottom-line .date {color: #9B9B9B; font-style: italic; font-size: 14px; margin-right: 35px}
.post-bottom-line .answer {color: #57731E; font-size: 14px; font-family: 'Roboto-Italic'; cursor: pointer}

.comment-like {position: absolute; right: 40px; top: 7px}
.comment-like span {margin-left: 5px; cursor: pointer}
.comment-like span:before {content: ""; display: inline-block; vertical-align: middle; width: 20px; height: 18px; background: url("../images/icon3.png"); margin-right: 2px}
.comment-like span.post-comment:before {background-position: 0 0}
.comment-like span.post-like:before {background-position: -20px 0}
.comment-like span.post-like.active:before {background-position: -40px 0}

.create-comment {position: relative; border-top: 1px solid #F3F3F3; background: white}
.btn-submit, .main-block-form textarea {display: inline-block; vertical-align: top; resize: none; height: 17px}
.main-block-form textarea {padding: 0 15px!important; margin: 15px 0}
.btn-submit {margin-top: 10px; text-align: right}
.btn-submit input {background: url("../images/arrow2.png"); width: 15px; height: 24px; border: none; color: transparent; cursor: pointer}
.create-comment {display: none}

.list-comments {position: relative; overflow: hidden; background: #FDFDFD;}
.list-comments:before {content: ""; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 20px; background: linear-gradient(180deg, rgba(0, 0, 0, 0.03) 0%, rgba(0, 0, 0, 0) 100%) }
.list-comments .item {border-bottom: 1px solid #F3F3F3; position: relative}
.list-comments .post-bottom-line {padding-left: 83px}
.list-comments.active .item:nth-child(2) {padding-bottom: 0}
.list-comments .show-all  {background: #FDFDFD!important;}
.list-comments .post-standard-text .text {max-height: inherit}

.img-container.xs {border: 3px solid #C4C4C4; width: 40px; height: 40px}
.img-container.logo-xs {border: 1px solid #C4C4C4; position: absolute; top: 19px; left: 16px; background: white; width: 20px; height: 20px}
.xs + .img-container.logo-xs {top: 14px}
.name.href-name {font-family: inherit; color: inherit}
.name.href-name a {color: #57731E; font-family: 'Roboto-Regular';}
.name.href-name a:hover {text-decoration: underline}

.list-comments .quote .name, .list-comments .quote .text {color: #a7bc35; margin-bottom: 0;  font-family: 'Roboto-Italic';}
.list-comments .quote .text {max-height: 19px; overflow: hidden}
.quote {padding-left: 35px; background: url("../images/quote.png") left top no-repeat; margin-bottom: 13px}

.badge {padding: 0 0 13px 0; position: relative}
.badge:before {content: ""; position: absolute; bottom: 0; left: 0; width: 100%; height: 6px; background: linear-gradient(0, rgba(0, 0, 0, 0.03) 0%, rgba(0, 0, 0, 0) 100%);}
.badge .post-standard-text {margin-left: 105px}
.img-badge {position: absolute; left: 0; top: 0; max-height: 100%}

.progressbar {width: 100%; height: 20px; background: #F1EEE5; border-radius: 30px; position: relative; margin-bottom: 25px }
.progressbar .filled {position: absolute; top: 0; left: 0; text-align: center; height: 20px; background: #BFD73B url("../images/progress-bar-bg.png"); color: white; border-radius: 30px}
.progressbar .filled span {color: white; line-height: 20px}

.post-standard-text .show-hidden-block.block-check-list {max-height: 220px; overflow: hidden}
.block-check-list.active .show-all, .show-hidden-block.active .show-all {background: none}
.check-list.green {margin-bottom: 25px}
.check-list.green li {margin: 0; font-size: 14px; line-height: 16px; padding: 4px 4px 4px 35px}
.check-list.green li:before {height: 15px; background: url("../images/check4.png") no-repeat; }
.block-check-list .show-all, .text-main .show-all {height: 78px; background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 50%)}
.block-check-list .show-all span, .text-main .show-all span {left: 85px}

.reply-to-comment {display: none; padding: 5px 0 5px 19px; background: #f4f5ef; margin-left: 63px; border-left: 3px solid #a7bc35; position: relative }
.reply-to-comment span {display: block; color: #a7bc35; font-family: 'Roboto-Italic'; margin-bottom: 10px }
.reply-to-comment span.text {overflow: hidden; max-height: 35px; margin: 0}
.reply-to-comment .close, #outputMulti .close {position: absolute; right: -5px; top: -5px; width: 15px; height: 15px; background: white url("../images/exit.png") no-repeat; background-size: 100%; border-radius: 50%; cursor: pointer}

.checkbox-block .item {border-bottom: 1px solid #F1EEE5}
.checkbox + label {font-size: 14px; margin: 0}
.checkbox:not(checked) + label {padding: 7px 0 7px 21px}
.checkbox:not(checked) + label:before {border: none; background: none}
.pressed-checkbox + label{background: #F7F7F7; color: #88ac2e; font-family: inherit}
.pressed-checkbox + label:after {top: 11px; left: 7px; width: 7px; height: 7px; background: url("../images/check5.png") no-repeat; background-size: 100% auto}

.sidebar-lane-right .btn-green {display: none}

.personal-info-lane {position: relative;}
.legend-line {display: none}
#diagram-achievements {position: absolute; top: -27px; left: 0; width: 97%; z-index: 1; height: 260px}
#diagram-achievements span {display: none; position: absolute; top: 24px; right: -30px; background: white; box-shadow: 0 0 4px rgba(0, 0, 0, 0.15); z-index: 1; font-size: 14px; padding: 3px 6px}
#diagram-achievements span:before {content: ""; width: 5px; height: 5px; display: block; background: url("../images/traingle.png"); position: absolute; left: 0; bottom: -5px}
.photo-in-diagram {position: relative; top: 48px; margin-bottom: 95px}
.photo-in-diagram .xl {height: 130px; width: 130px; overflow: hidden; border-radius: 50%; display: block; margin: 0 auto}
.photo-in-diagram .xs {position: absolute; top: -22px; left: 49px; width: 40px; height: 40px; border-radius: 50%; overflow: hidden; border: 1px solid #C4C4C4; background: white}
.photo-in-diagram .xl img, .photo-in-diagram .xs {z-index: 2}
.info-text {text-align: center; padding: 0 20px 20px 20px; font-size: 14px}
.info-text * {font-size: 14px}
.info-text a {color: #6d853b}
.info-text i {color: #b4b4b4; display: block}
.info-text .title {font-size: 24px; line-height: 32px; display: block; margin-bottom: 6px}
.info-text a:hover {text-decoration: underline}
.info-text .location {margin-bottom: 13px; position: relative; padding-left: 10px; display: inline-block}
.info-text .location:before {content: ""; position: absolute; top: 2px; left: 0; width: 8px; height: 11px; display: block; background: url("../images/location.png")}

.sidebar-lane-left .title-xs {color: #4A4A4C; font-family: 'Roboto-Regular'; font-size: 14px; margin: 7px 0 25px 0 }
.check-list-img .item {position: relative; min-height: 50px; margin-bottom: 15px; border: none}
.check-list-img span.img {width: 50px; height: 50px; display: inline-block; vertical-align: middle; top: 0; position: relative}
.check-list-img span.img .img-container {width: 100%; height: 100%; display: block; border-radius: 50%; top: 0}
.check-list-img span.text {width: calc(100% - 55px); padding-left: 20px; font-size: 14px; display: inline-block; vertical-align: middle}
.check-list-img .checkbox:not(checked) + label {padding: 0; background: none}
.check-list-img .checkbox + label:before, .check-list-img .checkbox + label:after {display: none}
.check-list-img.checkbox-block .pressed-checkbox + label .text {font-family: 'Roboto-Regular';}
.number_of_participants {position: absolute; left: -12px; top: -1px; background: #F2F3ED; color: #4A4A4C; font-size: 12px; padding: 1px 4px 1px 13px; border-radius: 20px}
.number_of_participants:before {content: ""; width: 8px; height: 10px; position: absolute; left: 3px; top: 3px; background: url("../images/persone.png")}

.fix-panel-mobile {display: none; justify-content: space-around; background: #f5f6f1; position: fixed; bottom: 0; left: 0; z-index: 9; width: 100%}
.fix-panel-mobile div {width: 40px; height: 40px; background: url("../images/icon-mobile-panel.png?ver=1"); cursor: pointer}
.fix-panel-mobile div.active {background: #bfd72b url("../images/icon-mobile-panel.png")}
.fix-panel-mobile div[data-type="sidebar-lane-left"] {background-position: -40px 0}
.fix-panel-mobile div[data-type="sidebar-lane-left"].active {background-position: -40px -40px}
.fix-panel-mobile div[data-type="central-lane"] {background-position: 0 0}
.fix-panel-mobile div[data-type="central-lane"].active {background-position: 0 -40px}
.fix-panel-mobile div[data-type="sidebar-lane-right"] {background-position: -80px 0}
.fix-panel-mobile div[data-type="sidebar-lane-right"].active {background-position: -80px -40px}

@media only screen and (max-width: 992px) {
    footer {padding: 20px 0 40px 0}
    .fix-panel-mobile {display: flex}
    #diagram-achievements {top: -28px; left: -9px; right: 0; width: 285px; margin: 0 auto}
    .number_of_participants {left: -5px}
    .check-list-img span.img .img-container {left: 4px}
    .photo-in-diagram .xs {left: -137px; right: 0; margin: 0 auto}
    .photo-in-diagram .xl {height: 140px; width: 140px}
    .sidebar-lane-left, .sidebar-lane-right {position: relative!important; width: 100%}
    .central-lane {max-width: 100%; margin: 0 auto; display: none}
    .sidebar-lane-right {display: none}
    .sidebar-lane-right .btn-green {display: inline-block}
}
@media only screen and (max-width: 820px) {
    .personal-photo {display: inline-block; width: 30px; margin: 0}
}
@media only screen and (max-width: 450px) {
    .img-badge {max-height: 67px}
    .block-check-list .show-all span, .text-main .show-all span {left: 50px}
    .post-standard-text .text-main {margin-left: 15px; width: calc(100% - 55px)}
    .post-standard-text .img-container {width: 35px; height: 35px}
    .img-container.logo-xs {width: 20px; height: 20px; left: 4px}
    .padding-20 {padding: 15px 10px}
    .badge .post-standard-text {margin-left: 10px}
    .post-bottom-line {padding: 10px}
    .comment-like {right: 10px; top: 10px}
    .post-bottom-line .date {margin-right: 10px}
    .post-photo-one img, .post-photo-two .img-container {max-height: 235px}
    .progressbar .filled span, .filled {font-size: 12px}

}
@media only screen and (max-width: 400px) {
    .post-photo-slider .img-container {height: 300px}
    .show-all span {left: 50px}
    .list-comments .post-bottom-line {padding-left: 60px}
    .badge {padding: 0}
    .bottom-block-form {text-align: left}
    .emulator-select2 {display: block; margin: 0}
    .bottom-block-form .btn-green {min-width: inherit; margin: 15px 0 0 0}
}
